@media (max-width: 970px) and (min-width: 482px) .image-upload-panel {
  width: 100%;
  min-width: 482px;
}
.image-upload-panel {
  width: 33%;
  /*margin: auto;*/
  /*min-width: 482px;*/
  /*max-width: 482px;*/
  position: relative;
}
.draggable-container {
  min-width: 482px;
  color: #FF7270;
  padding: 5px 20px 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fff;
}
.draggable-container-handle {
  cursor: move;
}
.draggable-container-header {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #FF7373;
}
.draggable-container-items {
  z-index: 1;
  position: relative;
  border: 1px dashed #FF7373;
  margin-top: 15px;
  min-height: 160px;
}
.draggable-container-items:last-child {
  /*margin-right: 0;*/
}
.upload-link {
  cursor: pointer;
  text-decoration: underline;
}
.draggable-item {
  z-index: 2;
  position: relative;
  cursor: move;
  display: inline-block;
  vertical-align: middle;
  margin: .25rem;
  border: 1px solid rgba(255, 114, 112, 0.5);
}
.draggable-item-loading > div {
  opacity: 0.5;
}
.draggable-item-error {
  background-color: red;
}
.draggable-item canvas {
}

/* dragula classes */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
