@media (max-width: 970px) and (min-width: 482px) .image-upload-panel {
  width: 100%;
  min-width: 482px;
}
.image-upload-panel {
  width: 33%;
  /*margin: auto;*/
  /*min-width: 482px;*/
  /*max-width: 482px;*/
  position: relative;
}
.draggable-container {
  min-width: 482px;
  color: #FF7270;
  padding: 5px 20px 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fff;
}
.draggable-container-header {
  cursor: move;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #FF7373;
}
.draggable-container-items {
  border: 1px dashed #FF7373;
  margin-top: 15px;
}
.draggable-container-items:last-child {
  /*margin-right: 0;*/
  min-height: 160px;
}
.upload-link {
  cursor: pointer;
  text-decoration: underline;
}
.draggable-item {
  cursor: move;
  display: inline-block;
  vertical-align: middle;
  margin: .25rem;
  border: 1px solid rgba(255, 114, 112, 0.5);
}
.draggable-item canvas {
}
