@media (max-width: 970px) and (min-width: 750px) .image-upload-panel {
  width: 100%;
  min-width: 750px;
}
.image-upload-panel {
  width: 80%;
  margin: auto;
  min-width: 1100px;
  max-width: 1300px;
  position: relative;
}
.draggable-container {}
.draggable-item {
  cursor: move;
  display: inline-block;
  vertical-align: middle;
  margin: .25rem;
  border: 1px solid rgba(255, 114, 112, 0.5);
}
.draggable-item canvas {
}
.group {
  width: 33%;
  min-width: 300px;
  color: #FF7270;
  padding: 10px 30px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 30px;
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
}
.group-title {
  cursor: move;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #FF7373;
}
.group-list:last-child {
  /*margin-right: 0;*/
  min-height: 150px;
}
.group-list {
  border: 1px dashed #FF7373;
  /*border-radius: 10px;*/
  margin-top: 15px;
}

.upload-link {
  cursor: pointer;
  text-decoration: underline;
}
